<!DOCTYPE html>
<html lang="{{ page.lang }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no, viewport-fit=cover">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style/socicon.min.css">
  <script type="text/javascript" src="{{ site.baseurl }}/assets/script/home.js"></script>
  <title>Nobutthefrog - Home</title>
</head>

<body>
  <a
    label="{% if page.lang == "de" %}scrolle ein bisschen herunter{% else %}scroll down a bit{% endif %}"
    href="#arrows">
      <img alt="{% if page.lang == "de" %}Schriftzug Nobutthefrog{% else %}Lettering Nobutthefrog{% endif %}"
           class="logo"
           src="{{ site.baseurl }}/assets/img/logo.webp"
      />
  </a>
  <a
    label="{% if page.lang == "de" %}scrolle ein bisschen herunter{% else %}scroll down a bit{% endif %}"
    href="#arrows">
    <!-- https://developer.mozilla.org/en-US/docs/Learn/Performance/HTML#providing_different_sources_for_images_and_videos -->
    <picture>
      <source media="(max-width: 500px)" srcset="{{ site.baseurl }}/assets/img/IMG_7979_1500_50percent.webp" />
      <source media="(max-width: 2000px)" srcset="{{ site.baseurl }}/assets/img/IMG_7979_2000_90percent.webp" />
      <source media="(max-width: 3000px)" srcset="{{ site.baseurl }}/assets/img/IMG_7979_3000_50percent.webp" />
      <source media="(max-width: 5000px)" srcset="{{ site.baseurl }}/assets/img/IMG_7979_5000_50percent.webp" />
      <img
        alt="{% if page.lang == "de" %}Anka und René laufen am Strand und spielen auf der Geige und auf der Gitarre. Die Sonne scheint und im Hintergrund brechen weiße Wellen.{% else %}Anka and René are walking on the beach playing violin and guitar. The sun is shining and white waves are breaking in the background.{% endif %}"
        src="{{ site.baseurl }}/assets/img/IMG_7979_5000_50percent.webp"
        class="cover"
      />
    </picture>

  </a>
  <svg description="{% if page.lang == "de" %}Animierte, nach unten zeigende Pfeile{% else %}Animated arrows pointing down{% endif %}" id="arrows"> <!-- https://codepen.io/postor/pen/vYpNYg -->
    <path class="a1" d="M0 0 L30 32 L60 0"></path>
    <path class="a2" d="M0 20 L30 52 L60 20"></path>
    <path class="a3" d="M0 40 L30 72 L60 40"></path>
  </svg>

  <!-- menu -->
  <div class="topnav" id="myTopnav"> <!-- id gets used by javascript -->
    <a label="{% if page.lang == "de" %}gehe zum Home{% else %}go to home{% endif %}" href="{{ site.baseurl }}/{% if page.lang == "en" %}en/{% endif %}" class="active">Home</a>
    <a label="{% if page.lang == "de" %}gehe zum Blog{% else %}go to blog{% endif %}" href="{{ site.baseurl }}/{% if page.lang == "de" %}blog{% else %}en/blog{% endif %}">{% if page.lang ==
      "de" %}Blog{% else %}Blog{% endif %}</a>
    <a label="{% if page.lang == "de" %}gehe zur Seite Newsletter{% else %}go to newsletter{% endif %}" href="{{ site.baseurl }}/{% if page.lang == "de" %}newsletter{% else %}en/newsletter{% endif %}">{% if page.lang
      == "de" %}Newsletter{% else %}Newsletter{% endif %}</a>
    <a label="{% if page.lang == "de" %}gehe zur Seite Musik{% else %}go to music{% endif %}" href="{{ site.baseurl }}/{% if page.lang == "de" %}musik{% else %}en/music{% endif %}">{% if page.lang == "de"
      %}Musik{% else %}Music{% endif %}</a>
    <a label="{% if page.lang == "de" %}gehe zur Seite Termine{% else %}go to dates{% endif %}" href="{{ site.baseurl }}/{% if page.lang == "de" %}termine{% else %}en/dates{% endif %}">{% if page.lang == "de"
      %}Termine{% else %}Dates{% endif %}</a>
    <a label="{% if page.lang == "de" %}gehe zur Seite Shop{% else %}go to shop{% endif %}" href="{{ site.baseurl }}/{% if page.lang == "de" %}shop{% else %}en/shop{% endif %}">{% if page.lang == "de"
      %}Shop{% else %}Shop{% endif %}</a>
    <a label="{% if page.lang == "de" %}gehe zur Seite Kontakt{% else %}go to contact{% endif %}" href="{{ site.baseurl }}/{% if page.lang == "de" %}kontakt{% else %}en/contact{% endif %}">{% if page.lang ==
      "de" %}Kontakt{% else %}Contact{% endif %}</a>
    <a label="{% if page.lang == "de" %}wechsel die Sprache auf Englisch{% else %}switch to english language{% endif %}" href="{{ site.baseurl }}/{% if page.lang == "de" %}en/{% else %}{% endif %}">
      <div id="language-selector-container"><img alt="{% if page.lang == "de" %}Flagge des Vereinigten Königreiches{% else %}Flag of the United Kingdom{% endif %}" id="language-selector"
          src="{{ site.baseurl }}/assets/img/{% if page.lang == "de" %}gb.svg{% else %}de.svg{% endif %}" /></div>
    </a>
    <a href="javascript:void(0);" id="menu-icon">
      <div id="menu-icon-bars-container">
        <div class="menu-icon-bar-1"></div>
        <div class="menu-icon-bar-2"></div>
        <div class="menu-icon-bar-3"></div>
      </div>
    </a>
  </div>


  <div id="content-flex-container">
    <main class="content-flex-item" id="main-content-box">
      <h1>Don't Stop Loving The World</h1>
      {% if page.lang == "de" %}
      <p>Nobutthefrog machen zauberhaften Indie-Folk, der ihr Publikum daran erinnert, welche Schönheit in der Welt
        verborgen liegt. Das Zusammenspiel zwischen Geige, Gitarre und zweistimmigem Gesang öffnet einen Raum für
        Verbundenheit, Frieden und ein Gespür für das, was wirklich zählt.</p>
      <p>Das Duo zieht es immer wieder raus in die Welt, um in der Natur und am Meer Glück und Inspiration fürs Leben zu
        finden.</p>
      <p>Ihre Lieder bringen dich ins Hier und Jetzt, setzen Impulse für all das Neue, das für dich bereit liegt.
        Nobutthefrog ermutigen durch ihre Songs: Du hast dein Leben selbst in der Hand, also fang an, es entsprechend zu
        gestalten!</p>
      {% else %}
      <p>Nobutthefrog play enchanting indie folk that reminds their audience of the beauty that lies hidden in the
        world. The harmonies between violin, guitar and two-part vocals open up a space for connection, peace and a
        sense of what really matters.</p>
      <p> The duo is always drawn out into the world to find happiness and inspiration for life in nature and by the
        sea. Their songs take you into the here and now, setting impulses for all the new things that are waiting for
        you. Nobutthefrog encourage you through their songs: You are in control of your life, so start creating it!</p>
      {% endif %}

    </main>
    <div class="content-flex-item" id="support-box">
      <div id="support-box-button-container"> <!--- This is needed to force <a > to respect parent's boarders -->
        <a label="{% if page.lang == "de" %}Unterstütze unsere künstlerische Arbeit{% else %}Support us as independent artists!{% endif %}" id="support-link" href="{{ site.baseurl }}/{% if page.lang == "de" %}support{% else %}en/support{% endif %}">
          <p id="support-text">{% if page.lang == "de" %}Unterstütze unsere künstlerische Arbeit{% else %}Support us as independent artists!{% endif %}</p>
          <img id="support-image" src="{{ site.baseurl }}/assets/img/support_background.webp" />
        </a>
      </div>
    </div>
  </div>
  <div id="video-box">
    <!-- The youtube iframe JS will replace this <div> tag. -->
    <!-- example: <iframe id="yt-video" src="https://www.youtube-nocookie.com/embed/MeTZ5XEZIZk?si=7AuIRfw0JbkZNcV-&origin=http://nobutthefrog.com" title="Nobutthefrog - Don't Stop Loving The World | Official Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
    <div id="yt-video">
      <div id="showVideoContainer">
        <p id="showVideoText">&#xBB; I'm fine - Live at Petersberg &#xAB;<br>&#x2014;<br><span
            class="socicon-youtube"></span> YouTube</p>
        <img id="showVideoImage" src="{{ site.baseurl }}/assets/img/Feld-Session.webp" />
      </div>
    </div>
  </div>
  <div class="footer">
    <div id="footer-icon-flex-container">
      <a target="_blank" title="Follow us on Facebook" href="https://facebook.com/nobutthefrog/"><span
          class="socicon-facebook"></span></a>
      <a target="_blank" title="Follow us on Instagram" href="https://www.instagram.com/nobutthefrog/"><span
          class="socicon-instagram"></span></a>
      <a target="_blank" title="Follow us on Bandcamp" href="https://nobutthefrog.bandcamp.com/"><span
          class="socicon-bandcamp"></span></a>
      <a target="_blank" title="Follow us on Spotify"
        href="https://open.spotify.com/artist/62zLBExtboM07tqDtWYhUt?si=AJOwInQwS6e_dy7AujDt9w"><span
          class="socicon-spotify"></span></a>
      <a target="_blank" title="Follow us on Youtube" href="https://www.youtube.com/c/nobutthefrog"><span
          class="socicon-youtube"></span></a>
      <a target="_blank" title="Follow us on Soundcloud" href="https://soundcloud.com/nobutthefrog"><span
        class="socicon-soundcloud"></span></a>
        </div>
    <div id="footer-links-flex-container">
      <a href="{{ site.baseurl }}/{% if page.lang == "de" %}impressum{% else %}en/legal{% endif %}">{% if page.lang == "de" %}Impressum{% else %}Legal Notice{% endif %}</a>
      <a href="{{ site.baseurl }}/{% if page.lang == "de" %}datenschutz{% else %}en/privacy{% endif %}">{% if page.lang == "de" %}Datenschutz{% else %}Privacy Policy{% endif %}</a>
      <a href="https://drive.google.com/drive/folders/1Ae4w9OJCkENE_rjaKnGnmdDLuKYHmyvd" target="_blank">{% if page.lang == "de" %}Pressemappe (EPK){% else %}Presskit (EPK){% endif %}</a>
    </div>
    <div id="footer-copyright-flex-container">
      <span>© {{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}/">nobutthefrog</a></span>
    </div>
  </div>
</body>

</html>
