---
layout: sub-page
---
    <main class="page-content" aria-label="Content">
      <h1 class="post-title">{{ page.title | escape }}</h1>

        {{ content }}
      <div>
        <script src="https://giscus.app/client.js"
        data-repo="chrisongthb/pages-test"
        data-repo-id="R_kgDOLO146w"
        data-category="General"
        data-category-id="DIC_kwDOLO14684CeV0p"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="de"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
      </script>
</script>
    </main>
