<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no"> <!-- keep safari from parsing numbers as links (e.g. tel.) -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style/common-sub-pages.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style/socicon.min.css">
  <script src="{{ site.baseurl }}/assets/script/common-sub-pages.js"></script>
  {%- include metadata.html -%}
  <!-- see also picture tag below and https://web.dev/articles/preload-responsive-images?hl=de#picture -->
  <link rel="preload" href="{{ site.baseurl }}/assets/img/IMG_7979_1500_50percent.webp" as="image"
    media="(max-width: 500px)">
  <link rel="preload" href="{{ site.baseurl }}/assets/img/IMG_7979_2000_90percent.webp" as="image"
    media="(max-width: 2000px)">
  <link rel="preload" href="{{ site.baseurl }}/assets/img/IMG_7979_3000_50percent.webp" as="image"
    media="(max-width: 3000px)">
  <link rel="preload" href="{{ site.baseurl }}/assets/img/IMG_7979_5000_50percent.webp" as="image"
    media="(min-width: 3001px)">
</head>

<body>
  <div class="header">
    <a href="{{ site.baseurl }}/"><img alt="{% if page.lang == "de" %}Schriftzug Nobutthefrog{% else %}Lettering
        Nobutthefrog{% endif %}" class="header_logo" src="{{ site.baseurl }}/assets/img/logo.webp"></a>
    <picture>
      <!-- see also rel="preload" in header and https://web.dev/articles/preload-responsive-images?hl=de#picture -->
      <source media="(max-width: 500px)" srcset="{{ site.baseurl }}/assets/img/IMG_7979_1500_50percent.webp">
      <source media="(max-width: 2000px)" srcset="{{ site.baseurl }}/assets/img/IMG_7979_2000_90percent.webp">
      <source media="(max-width: 3000px)" srcset="{{ site.baseurl }}/assets/img/IMG_7979_3000_50percent.webp">
      <source media="(min-width: 3001px)" srcset="{{ site.baseurl }}/assets/img/IMG_7979_5000_50percent.webp">
      <img alt="{% if page.lang == "de" %}Anka und René laufen am Strand und spielen auf der Geige und auf der Gitarre.
        Die Sonne scheint und im Hintergrund brechen weiße Wellen.{% else %}Anka and René are walking on the beach
        playing violin and guitar. The sun is shining and white waves are breaking in the background.{% endif %}"
        src="{{ site.baseurl }}/assets/img/IMG_7979_5000_50percent.webp" class="header_cover">
    </picture>
  </div>

  <!-- menu -->
  <div class="topnav" id="myTopnav"> <!-- id gets used by javascript -->
    <a href="{{ site.baseurl }}/{% if page.lang == "en" %}en/{% endif %}">Home</a>
    {% if page.not_in_menu %}<a href="{{ site.baseurl }}/{{ page.url }}" class="active">{{ page.title }}</a>{% endif %}
    <a href="{{ site.baseurl }}/{% if page.lang == "de" %}blog{% else %}en/blog{% endif %}"{% if page.url
      contains "blog" or page.url contains "en/blog" or page.url contains "/posts/" %} class="active" {% endif %}>{% if
      page.lang == "de" %}Blog{% else %}Blog{% endif %}</a>
    <a href="{{ site.baseurl }}/{% if page.lang == "de" %}newsletter{% else %}en/newsletter{% endif %}"{% if page.url
      contains "newsletter" or page.url contains "en/newsletter" %} class="active" {% endif %}>{% if page.lang == "de"
      %}Newsletter{% else %}Newsletter{% endif %}</a>
    <a href="{{ site.baseurl }}/{% if page.lang == "de" %}musik{% else %}en/music{% endif %}"{% if page.url
      contains "musik" or page.url contains "en/music" %} class="active" {% endif %}>{% if page.lang == "de" %}Musik{%
      else %}Music{% endif %}</a>
    <a href="{{ site.baseurl }}/{% if page.lang == "de" %}termine{% else %}en/dates{% endif %}"{% if page.url
      contains "termine" or page.url contains "en/dates" %} class="active" {% endif %}>{% if page.lang == "de"
      %}Termine{% else %}Dates{% endif %}</a>
    <a href="{{ site.baseurl }}/{% if page.lang == "de" %}shop{% else %}en/shop{% endif %}"{% if page.url
      contains "shop" or page.url contains "en/shop" %} class="active" {% endif %}>{% if page.lang == "de" %}Shop{% else
      %}Shop{% endif %}</a>
    <a href="{{ site.baseurl }}/{% if page.lang == "de" %}kontakt{% else %}en/contact{% endif %}"{% if page.url
      contains "kontakt" or page.url contains "en/contact" %} class="active" {% endif %}>{% if page.lang == "de"
      %}Kontakt{% else %}Contact{% endif %}</a>
    <a href="{{ site.baseurl }}/{{ page.path_to_other_lang }}">
      <div id="language-selector-container"><img alt="{% if page.lang == "de" %}Flagge des Vereinigten Königreiches{%
          else %}German Flag{% endif %}" id="language-selector"
          src="{{ site.baseurl }}/assets/img/{% if page.lang == "de" %}gb.svg{% else %}de.svg{% endif %}"></div>
    </a>
    <a title="{% if page.lang == "de" %}Zeige/verstecke das Menü{% else %}show/hide menu{% endif %}" href="javascript:void(0);" id="menu-icon">
      <div id="menu-icon-bars-container">
        <div class="menu-icon-bar-1"></div>
        <div class="menu-icon-bar-2"></div>
        <div class="menu-icon-bar-3"></div>
      </div>
    </a>
  </div>

  <!-- content -->
  <div id="content-flex-container">
    <main class="content-flex-item" id="main-content-box">

      {%- if page.title -%}
      <h1>{{ page.title }}</h1>
      {%- endif -%}
      {{ page.content }}
      {%- if page.extra_include -%}
      {%- include {{ page.extra_include }} -%}
      {%- endif -%}

    </main>
    <div class="content-flex-item" id="side-content-box">
      {%- if page.side_include -%}
      {%- include {{ page.side_include }} -%}
      {%- else -%}
      {%- include support-box -%}
      {%- endif -%}
    </div>
  </div>
  <div class="footer">
    <div id="footer-icon-flex-container">
      <a target="_blank" title="Follow us on Facebook" href="https://facebook.com/nobutthefrog/"><span
          class="socicon-facebook"></span></a>
      <a target="_blank" title="Follow us on Instagram" href="https://www.instagram.com/nobutthefrog/"><span
          class="socicon-instagram"></span></a>
      <a target="_blank" title="Follow us on Bandcamp" href="https://nobutthefrog.bandcamp.com/"><span
          class="socicon-bandcamp"></span></a>
      <a target="_blank" title="Follow us on Spotify"
        href="https://open.spotify.com/artist/62zLBExtboM07tqDtWYhUt?si=AJOwInQwS6e_dy7AujDt9w"><span
          class="socicon-spotify"></span></a>
      <a target="_blank" title="Follow us on Youtube" href="https://www.youtube.com/c/nobutthefrog"><span
          class="socicon-youtube"></span></a>
      <a target="_blank" title="Follow us on Soundcloud" href="https://soundcloud.com/nobutthefrog"><span
          class="socicon-soundcloud"></span></a>
    </div>
    <div id="footer-links-flex-container">
      <a href="{{ site.baseurl }}/{% if page.lang == "de" %}impressum{% else %}en/terms-of-service{% endif %}">{% if
        page.lang == "de" %}Impressum{% else %}Terms of Service{% endif %}</a>
      <a href="{{ site.baseurl }}/{% if page.lang == "de" %}datenschutz{% else %}en/privacy{% endif %}">{% if page.lang
        == "de" %}Datenschutz{% else %}Privacy Policy{% endif %}</a>
      <a href="https://drive.google.com/drive/folders/1Ae4w9OJCkENE_rjaKnGnmdDLuKYHmyvd" target="_blank">{% if page.lang
        == "de" %}Pressemappe (EPK){% else %}Presskit (EPK){% endif %}</a>
    </div>
    <div id="footer-copyright-flex-container">
      <span>© {{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}/">nobutthefrog</a></span>
    </div>
  </div>
</body>

</html>
