


<h2>Indie Songwriter Duo aus Nürnberg</h3>
<p>Spielen sie zu zweit, lässt das Zusammenspiel von Gitarre und der ungewöhnlich klingenden Geige das Publikum vor Freude jauchzen und jubeln und der bittersüße zweistimmige Gesang rührt die Menschen immer wieder zu Tränen.</p>
<p>Mit ihrer Band bringen sie eine mitreißende Show auf die Bühne, die leichtfüßig über Genregrenzen springt und sich in keine Schublade stecken lässt.</p>

<img src="{{ site.baseurl }}/assets/img/IMG_7979_5000_50percent.webp">


<h2>Pressestimmen</h3>
<p>„Eine Folkband, die bis jetzt Geheimtippstatus hatte und wir gehen schwer davon aus, dass sich das sehr bald ändern wird: Nobutthefrog heißt sie und hat jetzt ihr 2. Album veröffentlicht.“</p>
<p>Bayern 2 (Heimatsound-Tipp)</p>

<p>„Nobutthefrog feiern das Leben in all seinen Facetten, mit allen Höhen und Tiefen. Mal zu tanzbaren Rhythmen, dann wieder mit andächtigen, intimen Klängen liefert dieses Duo hier durchweg herzliche Musik für das Leben. Das klingt mal übersprudelnd positiv, dann wieder andächtig und intim, wie das Leben eben auch.“</p>
<p>musikreviews.de</p>

<img src="{{ site.baseurl }}/assets/img/IMG_7666_h2500_70percent.webp">

<img src="{{ site.baseurl }}/assets/img/band1_1000.webp">
<img src="{{ site.baseurl }}/assets/img/band2_1000.webp">
<img src="{{ site.baseurl }}/assets/img/Nobutthefrog_November_24_076_h2500_70percent.webp">



<h2>Konzerthighlights</h3>
<h3>Clubs</h4>
<ul>
  <li>Nürnberg MUZ Club 2024</li>
  <li>Bayreuth Glashaus 2024</li>
  <li>Würzburg Kellerperle 2024</li>
  <li>Fürth Kofferfabrik 2024</li>
  <li>Erlangen E-Werk 2024</li>
  <li>Alicante/Spanien Sala Euterpe 2024</li>
  <li>Valencia/Spanien Fabrica de hielo 2024</li>
  <li>Rodgau Maximal 2024</li>
  <li>Bayreuth Neuneinhalb 2023</li>
  <li>Lissabon/Portugal Braco de Prata 2023</li>
  <li>Würzburg Theater Chambinzky 2023</li>
  <li>Nürnberg Desi 2022</li>
  <li>Sofar Sound Shows in: Lissabon, Porto, Cádiz, Madrid, </li>
  <li>Sevilla, Valladolid, Nürnberg, München</li>
</ul>


<h3>Festivals</h4>
<ul>
  <li>Erfurt Wipfelrauschen Festival 2024</li>
  <li>Ueckermünde Musik & Stille Festival 2024</li>
  <li>Dessau Klink Festival 2024</li>
  <li>Parksommer Chemnitz 2024</li>
  <li>Bad Windsheim Weinturm Open Air 2023</li>
  <li>Pegnitz Waldstock Festival 2023</li>
  <li>Freising Bonfire Festival 2023</li>
  <li>Bad Kissingen Rise Festival 2023</li>
  <li>Würzburg Stramu Festival 2023</li>
  <li>Nürnberg Brückenfestival 2022</li>
</ul>


<h3>Kontakt</h3>

<p>Annkathrin Slavik & René Huber
  Musik Slavik &amp; Huber GbR<br ><br />
  Kirchr&ouml;ttenbach C 20<br />
  91220 Schnaittach</p>

<p>
  Email (allgemein):  contact@nobutthefrog.com <br>
  Email (booking):     booking@nobutthefrog.com<br>
  Tel.: +49 1601643986
</p>
