
<h2>Right where you are</h2>

<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=795546446/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://nobutthefrog.bandcamp.com/album/right-where-you-are">Right where you are von Nobutthefrog</a></iframe>

<hr style="margin-block: 3rem;">

<iframe style="border: 0; width: 100%; height: 20vh;" src="https://www.youtube.com/embed/LMEW3o4kpU8?si=GWWPkDR66gFI0DAS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h3>Mail und Phone</h3>

<p>
  contact@nobutthefrog.com <br>
  booking@nobutthefrog.com<br>
  Tel.: +49 1601643986
</p>

<hr style="margin-block: 3rem;">

<a target="_blank" href="https://drive.google.com/drive/folders/1Ae4w9OJCkENE_rjaKnGnmdDLuKYHmyvd">Download Pressematerial und Techrider</a>
