<div> <!--- This is needed to force <a > to respect parent's boarders -->

  <hr style="margin-block: 3rem;">
  {% if page.lang == "de" %}
  <h2>Probetrack</h2>
  {% else %}
  <h2>todo track</h2>
  {% endif %}
  <div>
    <iframe
      src="https://bandcamp.com/EmbeddedPlayer/album=795546446/size=large/bgcol=ffffff/linkcol=0f91ff/tracklist=false/artwork=small/track=2255929491/transparent=true/"
      seamles style="border: 0; width: 80%; height: 120px;">
    </iframe>
  </div>

  <h3>Downloads</h3>
  <a target="_blank" href="https://drive.google.com/drive/folders/1Ae4w9OJCkENE_rjaKnGnmdDLuKYHmyvd">{% if page.lang == "de" %}Pressematerial und Techrider{% else %}todo Press und Techrider{% endif %}</a>


  {% if page.lang == "de" %}
  <h2>Kontakt</h2>
  {% else %}
  <h2>Contact</h2>
  {% endif %}

  <p>Annkathrin Slavik & René Huber<br />
    Musik Slavik &amp; Huber GbR<br /><br />
    Kirchr&ouml;ttenbach C 20<br />
    D-91220 Schnaittach</p>

  <p>
    Email (allgemein): contact@nobutthefrog.com <br>
    Email (booking): booking@nobutthefrog.com<br>
    Tel.: +49 17657734896
  </p>
  <hr style="margin-block: 3rem;">

</div>
