{% if page.lang == "de" %}
<p>Du willst uns als freischaffende Musikerduo unterstützen und uns finanziell den Rücken freihalten? Wir freuen uns über jeden Beitrag in unserem digitalen Spendenhut:</p>

{% else %}
<p>You would like to support us as a independent music duo and help us financially? We are happy about every donation:</p>
{% endif %}


<div id="support-flex-container">
  <div class="support-flex-item">
    <h2>SEPA</h2>

    {% if page.lang == "de" %}
    <p>Hier unsere Bankdaten:</p>
    <p>
      Musik Slavik & Huber GbR<br>
      Kreditinstitut: Deutsche Kreditbank AG<br>
      IBAN: DE89 1203 0000 1082 2560 49<br>
      BIC: BYLADEM1001<br>
      Kto. Inh.: René Huber, Annkathrin Slavik
    </p>
    <p>Alternativ kannst du auch mit deiner Online-Banking App diesen QR-Code scannen:</p>
    <p>
      <img id="support-qr-sepa" src="{{ site.baseurl }}/assets/img/qr-code-EPC-QR-Code-SEPA-DE.png" alt="QR-Code für SEPA Überweisung" >
    </p>

    {% else %}
    <p>Here you can find the details of our bank account:</p>
    <p>
      Musik Slavik & Huber GbR<br>
      Kreditinstitut: Deutsche Kreditbank AG<br>
      IBAN: DE89 1203 0000 1082 2560 49<br>
      BIC: BYLADEM1001<br>
      Account Holder: René Huber, Annkathrin Slavik
    </p>
    <p>You may also scan this qr code with your online banking app:</p>
    <p>
      <img id="support-qr-sepa" src="{{ site.baseurl }}/assets/img/qr-code-EPC-QR-Code-SEPA-EN.png" alt="QR-Code for support via SEPA" >
    </p>
    {% endif %}

  </div>
  <div class="support-flex-item">
    <h2>Paypal</h2>

    {% if page.lang == "de" %}
    <p>Bitte die PayPal Gebühren beachten (aus 1€ werden 63ct, aus 10€ werden 9,40€)</p>
    <p>Hier ist der Link zu unserem PayPal Konto: <a href="https://www.paypal.com/donate/?hosted_button_id=MNMGSQP3JAPS4" target="_blank">&laquo;KLICK&raquo;</a></p>
    <p>Der QR-Code führt ebenfalls zu unserem PayPal Konto:</p>
    <img id="support-qr-paypal" src="{{ site.baseurl }}/assets/img/qr-code-paypal.png" alt="QR-Code für PayPal" >

    {% else %}
    <p>Please note the PayPal fees (1 € becomes 63 ct, 10 € becomes 9,40 €)</p>
    <p>Here you can find our PayPal account: <a href="https://www.paypal.com/donate/?hosted_button_id=MNMGSQP3JAPS4" target="_blank">&laquo;CLICK&raquo;</a></p>
    <p>You also land on our PayPal account by scanning this QR-Code:</p>

    <img id="support-qr-paypal" src="{{ site.baseurl }}/assets/img/qr-code-paypal.png" alt="QR-Code für PayPal" >

    {% endif %}
  </div>
</div>
